/* Default Color File  */




/* Color */
a:hover,
a {
	color: #00c6ff;
}

.scroll-to-top:hover,
.preloader-close,
.search-popup .search-form fieldset input[type="submit"] {
	background-color: #00c6ff;
}

.btn-style-one {
    background-color: #00c6ff;
}

.header-top .left-column .text {
    background-color: #00c6ff;
}

.main-menu .navigation>li:before {
    background-color: #00c6ff;
}

.main-menu .navigation>li.current>a {
    color: #00c6ff;
}

.main-menu .navigation>li>ul>li>a:hover {
    background-color: #00c6ff;
}

.main-menu .navigation>li>ul>li>ul>li>a:hover {
    background-color: #00c6ff;
}

.mobile-menu .menu-backdrop {
    background-color: #00c6ff;
}

.hidden-sidebar .news-widget .category {
    color: #00c6ff;
}

.sec-title h2:before {
    background-color: #00c6ff;
}

.about-section .year-experience {
    color: #00c6ff;
}

.service-block-one .inner-box {
    border-bottom: 3px solid #00c6ff;
}

.service-block-one a {
    color: #00c6ff;
}

.features-section {
    background-color: #00c6ff;
}

.why-choose-us .icon-box .icon {
    color: #00c6ff;
}

.video-section h5:before {
    background-color: #00c6ff;
}

.video-section .video-box .video-btn a {
    color: #00c6ff;
}

.video-section .video-box .video-btn a:hover {
    background-color: #00c6ff;
}

.team-block-one h4:before {
    background-color: #00c6ff;
}

.team-block-one .social-links li a:hover {
    color: #00c6ff;
}

.testimonial-section .quote {
    color: #00c6ff;
}

.testimonial-section .owl-dots .owl-dot:hover,
.testimonial-section .owl-dots .owl-dot.active{
    background-color:#00c6ff;
    border-color:#00c6ff;
}

.estimate-section .wrapper-box:before {
    background-color: #00c6ff;
}

.estimate-form .form-group .theme-btn:hover {
    color: #00c6ff;
}

.facts-section h2 span {
    color: #00c6ff;
}

.facts-section .facts-block .icon {
    color: #00c6ff;
}

.blog-section .top-content .theme-btn {
    color: #00c6ff;
}

.news-block-one .meta-info a:before {
    background-color: #00c6ff;
}

.news-block-one .link-btn a {
    background-color: #00c6ff;
}

.cta-section .wrapper-box {
    background-color: #00c6ff;
}

.main-footer .footer-info-box .icon {
    color: #00c6ff;
}

.widget_newsletter form button {
    background-color: #00c6ff;
}

.widget_newsletter .social-links li a:hover {
    background-color: #00c6ff;
    border-color: #00c6ff;
}

.main-header.header-style-two .header-upper.style-two .logo-box .logo {
    background-color: #00c6ff;
}

.service-block-two h4:after {
    background-color: #00c6ff;
}

.why-choose-us.style-two {
    background-color: #00c6ff;
}

.cta-section.style-two {
    background-color: #00c6ff;
}

.cta-section.style-two .theme-btn {
    background: #00c6ff;
}

.testimonial-section.style-two .testimonial-block .designation {
    color: #00c6ff;
}
/* Team Style Two */
.team-section.style-two {
    background-color: #f5f5f5;
}

.estimate-section.style-two {
    background-color: #00c6ff;
}

.testimonial-section.style-two .owl-dots .owl-dot {
    border-color: #00c6ff;
}

.main-header.header-style-three .header-upper.style-three .logo-box:before {
    background-color: #00c6ff;
}

.welcome-block .left-column {
    background-color: #00c6ff;
}

.features-section-two {
    background-color: #00c6ff;
}

.cta-section.style-three {
    background-color: #00c6ff;
}

.project-block-one h4 {
    background-color: #00c6ff;
}

.why-choose-us-two {
    background-color: #00c6ff;
}

.history-block .years {
    background: #00c6ff;
}

.sidebar-title h2:after{
    background-color: #00c6ff;
}

.blog-cat li.active a,
.blog-cat li a:hover{
    background-color: #00c6ff;
}

.contact-info-widget .inner-box ul li .icon{
    color: #00c6ff;
}

.featured-block .featured-inner .content .icon-box{
    background: #00c6ff;
}

.featured-block .featured-inner .content h3 a:hover{
    color: #00c6ff;
}

.accordion-box .block .acc-btn.active .icon-outer .icon-minus{
    background-color:#00c6ff;
}

.filter-tabs li.active {
    color: #00c6ff;
    border-color: #00c6ff;
}

.filter-tabs.style-two li.active:before {
    background-color: #00c6ff;
}

.testimonial-section.style-three .testimonial-block.style-two .designation {
    color: #00c6ff;
}

.error-section h1{
    color:#00c6ff;
}

.error-section .theme-btn:hover{
    color:#00c6ff;
}

.comming-soon .content .content-inner .text span {
    color: #00c6ff;
}

.news-block-two .date {
    color: #00c6ff;
}

.news-block-two h3 a:hover {
    color: #00c6ff;
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"]{
    background: #00c6ff;
}

.sidebar-title h2:after{
    background-color:#00c6ff;
}

.cat-list li a:hover{
    color:#00c6ff;
}

.sidebar .popular-posts .post a:hover{
    color: #00c6ff;
}

.sidebar .popular-posts .post-info{
    color: #00c6ff;
}

.sidebar .popular-tags a:hover{
    border-color:#00c6ff;
    background-color:#00c6ff;
}

.sidebar-page-container .comments-area .comment-box .post-info li a{
    color: #00c6ff;
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group textarea:focus{
    border-color: #00c6ff;
}

.contact-section .contact-title h2:after{
    background-color: #00c6ff;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="password"]:focus,
.contact-form select:focus,
.contact-form textarea:focus{
    border-color: #00c6ff;
}

.contact-section .info-column ul li i {
    color: #00c6ff;
}

.service-block-two h4 a:hover {
    color: #00c6ff;
}














